Repository fullstacktf/Narrativas-Front, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

.github/CODEOWNERS:

* @AdalDiazFarina @alexravelo-dev @kevinEliezer @XavYan
*.css @ManzDev
*.tsx @raulanatol
*.jsx @raulanatol
*.js @raulanatol @ManzDev
*.vue @ManzDev
*test* @raulanatol @DanielRamosAcosta @yodralopez

Fix: HeroAboutUs responsivo
  public/favicon.ico
  src/App.vue
  src/components/Hero/HeroAboutUs.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Added paragraphs to AboutUs component
  src/App.vue
  src/components/Hero/Hero.vue
  src/components/Hero/HeroAboutUs.vue
Owners: @ManzDev

Working with some storybook
  .gitignore
  config/storybook/main.js
  package.json
  src/.storybook/main.js
  src/components/MyButton.vue
  src/components/PersonCard/PersonCard.vue
  src/components/PersonCard/__stories__/PersonCard.stories.js
  src/stories/Button.stories.js
  src/stories/Button.vue
  src/stories/Header.stories.js
  src/stories/Header.vue
  src/stories/Introduction.stories.mdx
  src/stories/Page.stories.js
  src/stories/Page.vue
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @raulanatol, @ManzDev

Removed unnecessary __test__ folder; only works __tests__ folder
  package-lock.json
  src/components/Footer/__test__/Footer.test.js
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @raulanatol, @DanielRamosAcosta, @yodralopez

Removed package-lock.json ignore
  .gitignore
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan

Component image grid
  src/App.vue
  src/components/ImagesGrid/ImageBox.vue
  src/components/ImagesGrid/StoryGrid.vue
  src/components/InformationBlock/InformationRow.vue
  src/views/Home.vue
Owners: @ManzDev

Fix: HeroAboutUs working
  src/components/Hero/HeroAboutUs.vue
Owners: @ManzDev

ImagesGrid component
  package-lock.json
  src/App.vue
  src/assets/img/stories/fan_art_3.jpg
  src/components/ImagesGrid/ImageBox.vue
  src/components/ImagesGrid/StoryGrid.vue
  src/components/InformationBlock/InformationBlock.vue
  src/components/MyButton.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

HeroAboutUS para alex el guapo
  src/components/Hero/HeroAboutUs.vue
Owners: @ManzDev

in progress
  package-lock.json
  src/App.vue
  src/assets/img/stories/Guión del Tema 17 2020-2021.pdf
  src/assets/img/stories/Guión del Tema 17 2020-2021.pdf:Zone.Identifier
  src/assets/img/stories/boc-a-2020-248-4723.pdf:Zone.Identifier
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Fix: Header's menus
  src/components/Header/Header.vue
  src/components/Hero/Hero.vue
Owners: @ManzDev

Changed md and xl elements size in About Us component
  src/components/Hero/HeroAboutUs.vue
Owners: @ManzDev

Created some storybooks and fix some other stuff
  package-lock.json
  package.json
  public/index.html
  src/App.vue
  src/assets/styles/base.css
  src/components/Footer/Footer.vue
  src/components/Footer/__stories__/Footer.stories.js
  src/components/Header/__stories__/Header.stories.js
  src/components/Hero/Hero.vue
  src/components/Hero/__stories__/Hero.stories.js
  src/components/PersonCard/PersonCard.vue
  src/components/PersonCard/__stories__/PersonCard.stories.js
  src/components/SignInSignUp/SignInSignUp.vue
  src/components/SignInSignUp/__stories__/SignInSignUp.stories.js
  src/components/Slider/Slider.vue
  src/components/Slider/__stories__/LateralSlide.stories.js
  src/components/Slider/__stories__/Slider.stories.js
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev, @raulanatol

Index view finished
  package-lock.json
  src/App.vue
  src/assets/img/favicon.ico
  src/assets/img/stories/fan_art_1.jpg
  src/assets/img/stories/fan_art_5.jpg
  src/components/Footer/Footer.vue
  src/components/Header/Header.vue
  src/components/ImagesGrid/ImageBox.vue
  src/components/ImagesGrid/StoryGrid.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Fixed stories like spacing
  src/components/ImagesGrid/ImageBox.vue
  tailwind.config.js
Owners: @ManzDev, @raulanatol

Added information blocks icons
  src/components/InformationBlock/InformationBlock.vue
  src/components/InformationBlock/InformationRow.vue
Owners: @ManzDev

In progress
  src/components/Header/Header.vue
Owners: @ManzDev

Add StoryCharacter component
  .vscode/settings.json
  package-lock.json
  src/components/StoryCharacterCard/StoryCharacterCard.vue
  src/views/Home.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Header in progress
  src/App.vue
  src/components/Header.vue
  src/components/Header/Header.vue
Owners: @ManzDev

Add GridCards components
  .vscode/settings.json
  src/App.vue
  src/components/GridCards/Card.vue
  src/components/GridCards/GridCards.vue
  src/components/GridCards/NewCard.vue
  src/views/Home.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Added login to home view
  package-lock.json
  src/components/Header/Header.vue
  src/components/Modal/Modal.vue
  src/components/SignInSignUp/SignInSignUp.vue
  src/components/SignInSignUp/__tests__/SignInSignUp.test.js
  src/event-bus.js
  src/main.js
  src/views/Home.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

Removed modal component
  src/components/Modal/Modal.vue
Owners: @ManzDev

In progress
  package-lock.json
  src/App.vue
  src/components/Header/Header.vue
  src/components/Header/HeaderSignIn.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

HeaderFather, HeaderSignIn, Header
  src/App.vue
  src/components/Header/Header.vue
  src/components/Header/HeaderFather.vue
  src/components/Header/HeaderSignIn.vue
Owners: @ManzDev

Character Section in progress
  src/App.vue
  src/components/Characters/character.vue
  src/views/CharacterCreation.vue
Owners: @ManzDev

Fix AppVue
  src/App.vue
Owners: @ManzDev

Created test for SignInSignUp component
  src/components/SignInSignUp/SignInSignUp.vue
  src/components/SignInSignUp/__tests__/SignInSignUp.test.js
  src/components/Slider/Slider.vue
  src/components/Slider/__tests__/Slider.test.js
Owners: @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

Added go to top button
  package-lock.json
  src/components/Footer/Footer.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Logo change
  src/assets/img/logo_completo.jpg
  src/components/Header/Header.vue
  src/components/Header/HeaderFather.vue
  src/components/Header/HeaderSignIn.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Header ready
  src/components/Header/HeaderFather.vue
Owners: @ManzDev

Created Loged view
  src/components/Header/Header.vue
  src/components/Header/HeaderSignIn.vue
  src/router/index.js
  src/views/Loged.vue
Owners: @ManzDev, @raulanatol

Character in proyect
  src/App.vue
  src/components/Characters/character.vue
  src/components/Header/Header.vue
  src/components/Header/HeaderFather.vue
  src/components/Header/HeaderSignIn.vue
Owners: @ManzDev

Added Team component
  src/assets/img/parallaxHome.jpg
  src/components/GridCards/Card.vue
  src/components/GridCards/GridCards.vue
  src/components/GridCards/NewCard.vue
  src/components/PersonCard/Team.vue
  src/views/About.vue
  src/views/Loged.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Modified PersonCard component
  src/components/PersonCard/PersonCard.vue
  src/components/PersonCard/Team.vue
Owners: @ManzDev

Added Slider mobile view
  src/assets/img/parallaxHome.jpg
  src/components/Parallax.vue
  src/components/Slider/Slider.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Sign in Sign out working
  src/components/Header/HeaderFather.vue
  src/components/Header/HeaderSignIn.vue
  src/components/Modal/Modal.vue
  src/components/SignInSignUp/SignInSignUp.vue
  src/domain/services/authServices.js
  src/utils/axios.js
  src/utils/utils.js
  src/views/Home.vue
Owners: @ManzDev, @raulanatol

Some visual fixes
  src/assets/img/heroAboutUsMobile.jpg
  src/components/Hero/HeroAboutUs.vue
  src/components/Slider/Slider.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Deleted useless files
  src/router/index.js
  src/test.js
  src/utils/axios.js
  src/views/Loged.vue
Owners: @raulanatol, @ManzDev, @DanielRamosAcosta, @yodralopez

Fixed sign in
  src/components/Header/HeaderFather.vue
  src/components/Header/HeaderSignIn.vue
  src/components/Modal/Modal.vue
  src/views/About.vue
  src/views/Home.vue
Owners: @ManzDev

Characters ready
  src/components/Characters/character.vue
  src/components/Characters/characterBlockSection.vue
  src/components/Characters/characterSection.vue
  src/components/Parallax.vue
  src/store.js
  src/views/Home.vue
  tailwind.config.js
Owners: @ManzDev, @raulanatol
