Repository fullstacktf/Narrativas-Front, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

.github/CODEOWNERS:

* @AdalDiazFarina @alexravelo-dev @kevinEliezer @XavYan
*.css @ManzDev
*.tsx @raulanatol
*.jsx @raulanatol
*.js @raulanatol @ManzDev
*.vue @ManzDev
*test* @raulanatol @DanielRamosAcosta @yodralopez

Component Events
  package-lock.json
  package.json
  src/components/Events/EventCard.vue
  src/views/CharacterCreation.vue
  src/views/Characters.vue
  src/views/Stories.vue
  src/views/StoriesCreation.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Created ShowAll component
  src/components/GridCards/GridCards.vue
  src/components/GridCards/ShowAllCards.vue
  src/router/index.js
  src/views/Characters.vue
  src/views/Home.vue
Owners: @ManzDev, @raulanatol

Fix last commit
  src/views/CharacterCreation.vue
Owners: @ManzDev

Fixed modal component
  src/components/GridCards/GridCards.vue
  src/components/Modal/Modal.vue
  src/router/index.js
  src/views/CharacterCreation.vue
  src/views/Home.vue
Owners: @ManzDev, @raulanatol

Added button New Character to the ShowAll component
  src/components/GridCards/ShowAllCards.vue
  src/router/index.js
Owners: @ManzDev, @raulanatol

New component: heroAbout
  src/assets/img/about.jpg
  src/assets/img/heroAboutUs.jpg
  src/components/Hero/HeroAbout.vue
  src/components/Hero/HeroAboutUs.vue
  src/views/About.vue
  src/views/CharacterCreation.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Upload character and story image
  src/components/Characters/character.vue
  src/domain/services/characterServices.js
  src/router/index.js
  src/utils/axios.js
Owners: @ManzDev, @raulanatol

Created PageNotFound component
  src/assets/img/pageNotFound.jpg
  src/assets/img/pageNotFoundMobile.jpg
  src/router/index.js
  src/utils/axios.js
  src/views/CharacterCreation.vue
  src/views/PageNotFound.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @raulanatol, @ManzDev

PersonCard in progress
  src/assets/img/nebulosa.jpg
  src/components/Characters/character.vue
  src/components/Characters/characterBlockSection.vue
  src/components/Characters/characterSection.vue
  src/components/PersonCard/PersonCard2.vue
  src/components/PersonCard/Team.vue
  src/views/CharacterCreation.vue
  tailwind.config.js
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev, @raulanatol

In progress
  src/components/Characters/character.vue
  src/views/CharacterCreation.vue
Owners: @ManzDev

Upload character images
  src/components/Characters/character.vue
  src/components/Modal/Modal.vue
  src/components/SignInSignUp/SignInSignUp.vue
  src/domain/services/characterServices.js
  src/utils/axios.js
  src/views/Home.vue
Owners: @ManzDev, @raulanatol

DOMAIN as utils const
  src/utils/utils.js
Owners: @raulanatol, @ManzDev

Add styles scoped to person card
  src/components/Characters/character.vue
  src/components/PersonCard/PersonCard2.vue
  src/utils/axios.js
Owners: @ManzDev, @raulanatol

Get info cards by props in ShowAllCards
  src/components/GridCards/ShowAllCards.vue
  src/router/index.js
  src/views/Characters.vue
  src/views/Stories.vue
Owners: @ManzDev, @raulanatol

Create characters
  src/components/Characters/character.vue
  src/components/Characters/characterBlockSection.vue
  src/domain/services/characterServices.js
  src/utils/axios.js
Owners: @ManzDev, @raulanatol

Characters working
  src/components/GridCards/Card.vue
  src/components/GridCards/ShowAllCards.vue
  src/components/Header/Header.vue
  src/utils/axios.js
  src/views/Characters.vue
  src/views/Home.vue
Owners: @ManzDev, @raulanatol

Stories in progress
  package-lock.json
  package.json
  src/components/Footer/Footer.vue
  src/components/PersonCard/PersonCard2.vue
  src/components/SiteStories/Draggable.vue
  src/components/SiteStories/StoryBoard.vue
  src/components/SiteStories/StoryCard.vue
  src/components/SiteStories/storyTool.vue
  src/router/index.js
  src/views/StoriesCreation.vue
  tailwind.config.js
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev, @raulanatol

Add characters
  src/components/GridCards/GridCards.vue
  src/views/Characters.vue
  src/views/Home.vue
Owners: @ManzDev

Removing Lorem Ipsum
  src/components/GridCards/GridCards.vue
  src/components/GridCards/NewCard.vue
  src/components/GridCards/ShowAllCards.vue
  src/components/Header/Header.vue
  src/components/Header/HeaderSignIn.vue
  src/components/Hero/HeroAbout.vue
  src/components/PersonCard/Team.vue
Owners: @ManzDev

Reduce the weight of images and retouch errors on the web
  src/components/Header/HeaderSignIn.vue
  tailwind.config.js
Owners: @ManzDev, @raulanatol

Characters Front improved
  src/components/GridCards/GridCards.vue
  src/components/GridCards/ShowAllCards.vue
  src/components/PersonCard/PersonCard.vue
  src/components/PersonCard/PersonCard2.vue
  src/components/PersonCard/Team.vue
  src/views/Characters.vue
Owners: @ManzDev

FIX: nav menus
  src/components/Header/HeaderSignIn.vue
Owners: @ManzDev

Fix correct message color
  src/components/SignInSignUp/SignInSignUp.vue
Owners: @ManzDev

Create character and modify
  src/components/Characters/character.vue
  src/components/Characters/characterSection.vue
  src/components/GridCards/ShowAllCards.vue
  src/components/Hero/HeroAbout.vue
  src/components/PersonCard/Team.vue
  src/router/index.js
  src/utils/axios.js
  src/utils/utils.js
Owners: @ManzDev, @raulanatol

FIX: menu explore
  src/components/Header/Header.vue
Owners: @ManzDev

Added validation to Sign Up form
  src/components/SignInSignUp/SignInSignUp.vue
  src/utils/utils.js
Owners: @ManzDev, @raulanatol

Create character and modify
  src/components/GridCards/ShowAllCards.vue
  src/components/Hero/HeroAbout.vue
  src/utils/axios.js
Owners: @ManzDev, @raulanatol

FIX: slider description
  src/components/Slider/Slider.vue
Owners: @ManzDev

Fixed login
  src/components/SignInSignUp/SignInSignUp.vue
  src/utils/axios.js
Owners: @ManzDev, @raulanatol

Removed Lorem Ipsum
  src/components/Hero/HeroAbout.vue
  src/components/Slider/Slider.vue
Owners: @ManzDev

stories in progress
  src/components/Footer/Footer.vue
  src/components/SiteStories/StoryBoard.vue
  src/components/SiteStories/StoryCard.vue
  src/components/SiteStories/storyTool.vue
  src/store.js
  src/utils/utils.js
Owners: @ManzDev, @raulanatol

Fix sign up button modal
  src/components/Header/Header.vue
  src/components/Hero/Hero.vue
  src/components/Modal/Modal.vue
Owners: @ManzDev

Remove character added
  src/components/Characters/character.vue
  src/components/Characters/characterBlockSection.vue
  src/components/Characters/characterSection.vue
  src/domain/services/characterServices.js
  src/utils/axios.js
Owners: @ManzDev, @raulanatol

Deleted useless function
  src/components/Hero/HeroAbout.vue
Owners: @ManzDev

Created Profile view
  src/components/Header/Header.vue
  src/components/Header/HeaderSignIn.vue
  src/components/Modal/Modal.vue
  src/router/index.js
  src/views/Profile.vue
Owners: @ManzDev, @raulanatol

NewStoryCard in progress
  src/components/Characters/characterBlockSection.vue
  src/components/SiteStories/NewStoryCard.vue
  src/components/SiteStories/StoryBoard.vue
  src/components/SiteStories/StoryCard.vue
  src/components/SiteStories/StoryCardOpen.vue
  src/components/SiteStories/inputSection.vue
  src/store.js
  src/views/StoriesCreation.vue
Owners: @ManzDev, @raulanatol

Fixed PersonCard tests
  src/components/PersonCard/PersonCard.vue
  src/components/PersonCard/__tests__/PersonCard.test.js
Owners: @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

Modified Footer tests
  src/components/Footer/Footer.vue
  src/components/Footer/__tests__/FooterGeneral.test.js
  src/components/Footer/__tests__/FooterMobile.test.js
Owners: @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

Modified Header tests
  src/components/Header/__tests__/Header.test.js
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

Added storybooks for Header components
  src/components/Header/HeaderSignIn.vue
  src/components/Header/__stories__/HeaderFather.stories.js
  src/components/Header/__stories__/HeaderSignIn.stories.js
Owners: @ManzDev, @raulanatol
