Repository fullstacktf/Narrativas-Front, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

.github/CODEOWNERS:

* @AdalDiazFarina @alexravelo-dev @kevinEliezer @XavYan
*.css @ManzDev
*.tsx @raulanatol
*.jsx @raulanatol
*.js @raulanatol @ManzDev
*.vue @ManzDev
*test* @raulanatol @DanielRamosAcosta @yodralopez

Change project to Vue 2
  .gitignore
  package-lock.json
  package.json
  src/App.vue
  src/components/HelloWorld.vue
  src/main.js
  src/router/index.js
  src/views/About.vue
  src/views/Home.vue
  webpack.config.js
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev, @raulanatol

Vue2.js working
  package-lock.json
  package.json
  src/App.vue
  src/assets/styles/index.css
  src/main.js
  tests/unit/example.spec.js
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

Added test:unit script
  package.json
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan

Migrated to Vue2 (#22)
  .gitignore
  package-lock.json
  package.json
  src/App.vue
  src/assets/styles/index.css
  src/components/HelloWorld.vue
  src/main.js
  src/router/index.js
  src/views/About.vue
  src/views/Home.vue
  tests/unit/example.spec.js
  webpack.config.js
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

Fix package.json devDependencies
  package.json
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan

Created Footer component
  package-lock.json
  package.json
  public/index.html
  src/App.vue
  src/assets/img/Logo.jpg
  src/assets/img/logo_completo.png
  src/base.css
  src/components/Footer.vue
  tailwind.config.js
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev, @raulanatol

Added SignIn / SignUp components
  src/components/SignIn.vue
  src/components/SignUp.vue
Owners: @ManzDev

Change Username / email fields
  src/components/SignUp.vue
Owners: @ManzDev

Fixed issues
  .gitignore
  Dockerfile
  Makefile
  conf/rollify.conf
  src/App.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Added deployment
  .github/workflows/deploy.yml
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan

Added deployment gitaction
  .github/workflows/deploy.yml
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan

Refactor components
  package-lock.json
  package.json
  src/App.vue
  src/components/SignIn.vue
  src/components/SignInSignUp.vue
  src/components/SignUp.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Added vuex
  package-lock.json
  package.json
  src/main.js
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @raulanatol, @ManzDev

Deleted hello-world component
  src/assets/logo.png
  src/components/HelloWorld.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Removed hello-world component
  src/App.vue
Owners: @ManzDev

Add PersonCard component
  package-lock.json
  package.json
  src/App.vue
  src/assets/img/Adal.jpg
  src/assets/img/Alex.jpg
  src/assets/img/Himar.jpg
  src/assets/img/Kevin.jpg
  src/components/PersonCard.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Add Slider Component
  src/App.vue
  src/assets/img/slide_1.jpg
  src/assets/img/slide_2.jpg
  src/assets/styles/index.css
  src/components/Slider.vue
  tailwind.config.js
Owners: @ManzDev, @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @raulanatol

Add Hero component
  src/components/Hero.vue
Owners: @ManzDev

Fix last commit (Added missed files)
  package-lock.json
  package.json
  src/App.vue
  src/base.css
  src/components/Footer.vue
  src/components/SignInSignUp.vue
  src/components/Slider.vue
  tailwind.config.js
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev, @raulanatol

Fixed slider component
  src/components/Slider.vue
  tailwind.config.js
Owners: @ManzDev, @raulanatol

Added clip-path to Hero component
  src/components/Hero.vue
Owners: @ManzDev

Removed axios from component SignInSignUp
  src/App.vue
  src/components/SignInSignUp.vue
Owners: @ManzDev

Fix palette and fonts
  package-lock.json
  package.json
  src/App.vue
  src/base.css
  src/components/Footer.vue
  src/components/Hero.vue
  src/components/InformationBlock.vue
  src/components/PersonCard.vue
  src/components/SignInSignUp.vue
  src/components/Slider.vue
  src/test.js
  tailwind.config.js
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

Hero component - Mobile view
  package-lock.json
  src/App.vue
  src/components/Hero.vue
  tailwind.config.js
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev, @raulanatol

In progress
  package-lock.json
  src/App.vue
  src/components/Header.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Footer component - Mobile view
  src/App.vue
  src/assets/img/logo.svg
  src/components/Footer.vue
Owners: @ManzDev, @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan

Change document to this.
  src/App.vue
  src/components/Header.vue
  src/components/Hero.vue
Owners: @ManzDev

In progress 2
  src/components/Hero.vue
Owners: @ManzDev

Fix: remove global event
  src/App.vue
  src/components/Header.vue
  src/components/Hero.vue
Owners: @ManzDev

Change onresize event to addEventListener
  src/App.vue
  src/components/Footer.vue
  src/components/Header.vue
  src/components/Hero.vue
Owners: @ManzDev

Added testing-library for components tests
  package-lock.json
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan

In progress parallax
  package.json
  src/App.vue
  src/components/Header.vue
  src/components/Parallax.vue
  yarn.lock
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

No tengo ni idea
  package-lock.json
  package.json
  src/components/Footer/Footer.vue
  src/components/Footer/__test__/Footer.test.js
  testSetupFile.ts
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

In progress
  src/components/Footer/__test__/Footer.test.js
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

Fixed some stuff and make first tests
  .eslintrc.js
  jest.config.js
  package-lock.json
  package.json
  src/App.vue
  src/components/Footer/Footer.vue
  src/components/Footer/__test__/Footer.test.js
  src/components/Footer/__tests__/FooterGeneral.test.js
  src/components/Footer/__tests__/FooterMobile.test.js
  src/components/Header/Header.vue
  src/components/Header/__tests__/Header.test.js
  src/components/Hero/Hero.vue
  src/components/Hero/__tests__/Hero.test.js
  src/components/InformationBlock/InformationBlock.vue
  src/components/InformationBlock/__tests__/InformationBlock.test.js
  src/components/PersonCard/PersonCard.vue
  src/components/PersonCard/__tests__/PersonCard.test.js
  src/components/SignInSignUp/SignInSignUp.vue
  src/components/SignInSignUp/__tests__/SignInSignUp.test.js
  src/components/Slider/Slider.vue
  src/components/Slider/__tests__/Slider.test.js
  testSetupFile.js
Owners: @raulanatol, @ManzDev, @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @DanielRamosAcosta, @yodralopez

In progress
  src/components/Parallax.vue
Owners: @ManzDev

Added views, router and axios
  package-lock.json
  src/App.vue
  src/base.css
  src/components/Header/Header.vue
  src/components/Hero/Hero.vue
  src/components/InformationBlock/InformationBlock.vue
  src/components/InformationBlock/InformationRow.vue
  src/components/Slider/LateralSlide.vue
  src/domain/services/authServices.js
  src/domain/services/characterServices.js
  src/domain/services/storiesServices.js
  src/main.js
  src/router/index.js
  src/utils/axios.js
  src/views/About.vue
  src/views/Home.vue
  tailwind.config.js
  vue.config.js
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev, @raulanatol

storyBook
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  src/stories/Button.stories.js
  src/stories/Button.vue
  src/stories/Header.stories.js
  src/stories/Header.vue
  src/stories/Introduction.stories.mdx
  src/stories/Page.stories.js
  src/stories/Page.vue
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Owners: @raulanatol, @ManzDev, @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan

Component About Us in progress
  .vscode/settings.json
  package-lock.json
  src/App.vue
  src/assets/img/heroAboutUsMobile.jpg
  src/components/Hero/Hero.vue
  src/components/Hero/HeroAboutUs.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Finished component Lateral Slide and Information Blow
  public/index.html
  src/components/Hero/Hero.vue
  src/components/InformationBlock/InformationBlock.vue
  src/components/InformationBlock/InformationRow.vue
  src/components/Slider/LateralSlide.vue
  src/views/Home.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev
