Repository fullstacktf/Narrativas-Front, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

.github/CODEOWNERS:

* @AdalDiazFarina @alexravelo-dev @kevinEliezer @XavYan
*.css @ManzDev
*.tsx @raulanatol
*.jsx @raulanatol
*.js @raulanatol @ManzDev
*.vue @ManzDev
*test* @raulanatol @DanielRamosAcosta @yodralopez

Created tests for HeaderSignIn component
  src/components/Header/HeaderSignIn.vue
  src/components/Header/__tests__/HeaderSignIn.test.js
Owners: @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

Removed duplicated Hero test
  src/components/Hero/__tests__/Hero.test.js
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

Created tests and storybook for HeroAbout component
  src/components/Hero/HeroAbout.vue
  src/components/Hero/__stories__/HeroAbout.stories.js
  src/components/Hero/__tests__/HeroAbout.test.js
Owners: @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

Fixed PersonCard tests
  src/components/PersonCard/PersonCard.vue
  src/components/PersonCard/__tests__/PersonCard.test.js
Owners: @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

Created tests and storybook for Team component
  src/components/PersonCard/Team.vue
  src/components/PersonCard/__stories__/Team.stories.js
  src/components/PersonCard/__tests__/Team.test.js
Owners: @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

Fixed SignInSignUp component
  src/components/SignInSignUp/__tests__/SignInSignUp.test.js
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

Added new tests for Slider component
  src/components/Slider/__tests__/Slider.test.js
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

Get all character values
  src/components/Characters/character.vue
  src/components/Characters/characterBlockSection.vue
  src/components/Characters/characterSection.vue
  src/domain/services/characterServices.js
  src/utils/axios.js
Owners: @ManzDev, @raulanatol

Characters finished
  src/components/Characters/character.vue
  src/components/Characters/characterBlockSection.vue
  src/components/GridCards/GridCards.vue
Owners: @ManzDev

Git action fixed!
  .github/workflows/deploy.yml
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan

ADD Git Action
  .github/workflows/deploy.yml
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan

Changed domain
  src/utils/utils.js
Owners: @raulanatol, @ManzDev

Nginx configuration fixed
  conf/rollify.conf
  package.json
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan

HOTFIX deployment nginx config (#41)
  conf/rollify.conf
  package.json
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan

Finished profile and added picture to the Header
  src/assets/img/perfil.jpg
  src/assets/img/profile1.jpg
  src/assets/img/profile2.jpg
  src/assets/img/profile3.jpg
  src/assets/img/profile4.jpg
  src/assets/img/review_1.jpg
  src/assets/img/review_2.jpg
  src/assets/img/review_3.jpg
  src/components/Header/HeaderSignIn.vue
  src/views/Profile.vue
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan, @ManzDev

Fixed menus, header and team cards
  src/components/Header/Header.vue
  src/components/Header/HeaderSignIn.vue
  src/components/PersonCard/Team.vue
Owners: @ManzDev

Create ExploreStories view
  src/components/Header/HeaderSignIn.vue
  src/router/index.js
  src/views/ExploreStories.vue
Owners: @ManzDev, @raulanatol

Fixed hero
  src/components/Header/Header.vue
  src/components/Hero/Hero.vue
Owners: @ManzDev

Some fixes
  src/components/GridCards/ShowAllCards.vue
  src/components/Header/HeaderSignIn.vue
  src/components/Slider/Slider.vue
  src/views/Stories.vue
Owners: @ManzDev

ADD: Create new events for stories
  src/components/SiteStories/NewStoryCard.vue
  src/components/SiteStories/StoryBoard.vue
  src/components/SiteStories/StoryCard.vue
  src/components/SiteStories/StoryCardOpen.vue
  src/components/SiteStories/inputSection.vue
  src/store.js
Owners: @ManzDev, @raulanatol

Fixed some bugs with tests and created ones for Characters
  src/components/Characters/__stories__/character.stories.js
  src/components/Characters/__stories__/characterBlockSection.stories.js
  src/components/Characters/__stories__/characterSection.stories.js
  src/components/Characters/__tests__/character.test.js
  src/components/Characters/__tests__/characterBlockSection.test.js
  src/components/Characters/character.vue
  src/components/Characters/characterBlockSection.vue
  src/components/Characters/characterSection.vue
  src/components/Header/HeaderSignIn.vue
  src/components/PersonCard/Team.vue
  src/utils/utils.js
Owners: @raulanatol, @ManzDev, @DanielRamosAcosta, @yodralopez

Created all storybooks from actual components
  src/components/Events/__stories__/EventCard.stories.js
  src/components/GridCards/__stories__/Card.stories.js
  src/components/GridCards/__stories__/GridCards.stories.js
  src/components/GridCards/__stories__/NewCard.stories.js
  src/components/ImagesGrid/__stories__/ImageBox.stories.js
  src/components/ImagesGrid/__stories__/StoryGrid.stories.js
  src/components/InformationBlock/__stories__/InformationBlock.stories.js
  src/components/InformationBlock/__stories__/InformationRow.stories.js
  src/components/Modal/__stories__/Modal.stories.js
  src/components/SiteStories/__stories__/Draggable.stories.js
  src/components/SiteStories/__stories__/NewStoryCard.stories.js
  src/components/SiteStories/__stories__/StoryBoard.stories.js
  src/components/SiteStories/__stories__/StoryCard.stories.js
  src/components/SiteStories/__stories__/StoryCardOpen.stories.js
  src/components/SiteStories/__stories__/inputSection.stories.js
Owners: @raulanatol, @ManzDev

in progress
  src/utils/utils.js
Owners: @raulanatol, @ManzDev

Added location to a storybook
  src/components/PersonCard/__stories__/PersonCard.stories.js
Owners: @raulanatol, @ManzDev

Removed unnecessary description in person card
  src/components/PersonCard/__stories__/PersonCard.stories.js
Owners: @raulanatol, @ManzDev

Tonteria
  src/utils/utils.js
Owners: @raulanatol, @ManzDev

Documentation
  README.md
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan

More documentation
  README.md
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan

Added profile images
  src/assets/img/profile1.jpg
  src/assets/img/profile2.jpg
  src/assets/img/profile3.jpg
  src/assets/img/profile4.jpg
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan

Little fixes
  src/components/SiteStories/NewStoryCard.vue
  src/components/SiteStories/StoryBoard.vue
  src/components/SiteStories/StoryCard.vue
  src/components/SiteStories/StoryCardOpen.vue
Owners: @ManzDev

Test and Mockups
  README.md
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan

Image optimization
  package-lock.json
  src/assets/img/Adal.jpg
  src/assets/img/Hero.jpg
  src/assets/img/Himar.jpg
  src/assets/img/Kevin.jpg
  src/assets/img/about.jpg
  src/assets/img/character_1.jpg
  src/assets/img/character_3.jpg
  src/assets/img/collaborate.jpg
  src/assets/img/customize.jpg
  src/assets/img/explore_1.jpg
  src/assets/img/explore_2.jpg
  src/assets/img/explore_3.jpg
  src/assets/img/follow.jpg
  src/assets/img/heroAboutUsMobile.jpg
  src/assets/img/heroMobile.jpg
  src/assets/img/logo_completo.jpg
  src/assets/img/logo_completo.png
  src/assets/img/nebulosa.jpg
  src/assets/img/newCharacter.jpg
  src/assets/img/newStory.jpg
  src/assets/img/pageNotFound.jpg
  src/assets/img/pageNotFoundMobile.jpg
  src/assets/img/parallaxHome.jpg
  src/assets/img/parallaxInicio.jpg
  src/assets/img/profile1.jpg
  src/assets/img/profile2.jpg
  src/assets/img/profile3.jpg
  src/assets/img/profile4.jpg
  src/assets/img/prompt.jpg
  src/assets/img/relationship.jpg
  src/assets/img/slide1Mobile.jpg
  src/assets/img/slide2Mobile.jpg
  src/assets/img/slide_1.jpg
  src/assets/img/slide_2.jpg
  src/assets/img/story_1.jpg
  src/assets/img/story_2.jpg
  src/assets/img/story_3.jpg
Owners: @AdalDiazFarina, @alexravelo-dev, @kevinEliezer, @XavYan

fixed domain
  src/utils/utils.js
Owners: @raulanatol, @ManzDev

Fix
  src/utils/utils.js
Owners: @raulanatol, @ManzDev

Update utils.js
  src/utils/utils.js
Owners: @raulanatol, @ManzDev
